.coin-rain {
    position: relative;
    height: 100%;
}

.coin {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: gold;
    border-radius: 50%;
    animation: fall 1s  infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-500px);
        opacity: 100;
    }
    100% {
        transform: translateY(100vh);
        opacity: 100;
    }
}

.coin:nth-child(1) {
    left: 10%;
    animation-delay: 0.1s;
}

.coin:nth-child(2) {
    left: 20%;
    animation-delay: 0.5s;
}

.coin:nth-child(3) {
    left: 30%;
    animation-delay: 0.3s;
}

.coin:nth-child(4) {
    left: 40%;
    animation-delay: 0.1s;
}

.coin:nth-child(5) {
    left: 50%;
    animation-delay: 0.5s;
}

.coin:nth-child(6) {
    left: 60%;
    animation-delay: 0.1s;
}

.coin:nth-child(7) {
    left: 70%;
    animation-delay: 0.5s;
}

.coin:nth-child(8) {
    left: 80%;
    animation-delay: 0.3s;
}

.coin:nth-child(9) {
    left: 90%;
    animation-delay: 0.1s;
}

.coin:nth-child(10) {
    left: 100%;
    animation-delay: 0.5s;
}